In [1]:
# Import libraries
import cudf
import pandas as pd
from numba import cuda
import shapefile as sh
import numpy as np
import math

In [2]:
# Read in US Tiger Line Edge shapefile (Example here is King County)
shp_name = "/data/us_tiger/king_county/tl_2018_06085_edges.shp"
sf = sh.Reader(shp_name)

In [3]:
# Get field positions for road type and nodes
fields = list(zip(*sf.fields))
mtfcc_pos = fields[0].index('MTFCC') - 1
roadflg_pos = fields[0].index('ROADFLG') - 1
nodef_pos = fields[0].index('TNIDF') - 1
nodet_pos = fields[0].index('TNIDT') - 1

In [4]:
# Parse shape file into list of edges and their constituent vectors
vectors = []
edges = []
# Read nodes into a dictionary to de-duplicate
nodes = {}
node_num = 0
mtfcc = []
# Iterate through shapefile shape objects
for i,geo in enumerate(sf.shapes()):
    # Get the shape attributes
    attr = sf.record(i)
    # Check that the edge is a road
    if attr[roadflg_pos] == 'Y':
        # Test if mtfcc (edge classification) is in list, if not add it
        if attr[mtfcc_pos] not in mtfcc:
            mtfcc += [attr[mtfcc_pos]]
        # Test if from node exists
        if attr[nodef_pos] not in nodes:
            # If not, add it to the dictionary with coordinates of first point of vector
            nodes[attr[nodef_pos]] = [node_num,geo.points[0][0],geo.points[0][1]]
            node_num += 1
        # Test if to node exists
        if attr[nodet_pos] not in nodes:
            # If not, add it to the dictionary with coordinates of last point of vector
            nodes[attr[nodet_pos]] = [node_num,geo.points[-1][0],geo.points[-1][1]]
            node_num += 1
        # Add edge to table 
        edges += [[i,nodes[attr[nodef_pos]][0],nodes[attr[nodet_pos]][0],attr[mtfcc_pos]]]
        # Add edge to table with from and too nodes reversed
        edges += [[i,nodes[attr[nodet_pos]][0],nodes[attr[nodef_pos]][0],attr[mtfcc_pos]]]
        # Unravel and serialise the vector points into a list
        for p in geo.points:
            vectors += [[i,p[0],p[1]]]
# Sort mtfcc
mtfcc.sort()

In [5]:
# Zip the vector points and copy to cudf DataFrame
vz = list(zip(*vectors))
vector_df = cudf.DataFrame()
vector_df['id'] = vz[0]
vector_df['lon'] = vz[1]
vector_df['lat'] = vz[2]

In [6]:
# Zip the node points and copy to cudf DataFrame
nz = list(zip(*sorted(nodes.values())))
node_df = cudf.DataFrame()
node_df['id'] = nz[0]
node_df['lon'] = nz[1]
node_df['lat'] = nz[2]

In [7]:
# Zip the edges and copy to cudf DataFrame
ez = list(zip(*edges))
edge_df = cudf.DataFrame()
edge_df['id'] = ez[0]
edge_df['src'] = ez[1]
edge_df['dst'] = ez[2]
edge_df['mtfcc'] = [mtfcc.index(m) for m in ez[3]]

In [8]:
# Check results on vector Dataframe
print(vector_df)

            id         lon        lat
0            1 -121.606408  37.191532
1            1 -121.606128  37.191692
2            1 -121.605951  37.191783
3            1 -121.605861  37.191814
4            1 -121.605767  37.191832
5            1 -121.605660  37.191836
6            1 -121.605483  37.191840
7            1 -121.605306  37.191857
8            1 -121.605152  37.191881
9            1 -121.604765  37.191944
10           1 -121.604598  37.191971
11           1 -121.604463  37.191984
12           1 -121.604327  37.191989
13           1 -121.604044  37.191988
14           1 -121.603922  37.192002
15           1 -121.603800  37.192030
16           1 -121.603692  37.192068
17           1 -121.603595  37.192113
18           1 -121.603513  37.192156
19           1 -121.603336  37.192229
20           1 -121.603154  37.192282
21           1 -121.603047  37.192309
22           1 -121.602962  37.192346
23           1 -121.602882  37.192397
24           1 -121.602820  37.192454
25           1 -121.602768  37.192523
26           1 -121.602701  37.192645
27           1 -121.602680  37.192709
28           1 -121.602654  37.192803
29           1 -121.602604  37.193019
...        ...         ...        ...
622691  107331 -122.086702  37.222764
622692  107331 -122.086498  37.222731
622693  107331 -122.085860  37.222630
622694  107331 -122.084888  37.222527
622695  107331 -122.084350  37.222470
622696  107331 -122.084253  37.222485
622697  107331 -122.084040  37.222520
622698  107331 -122.083964  37.222530
622699  107331 -122.083868  37.222545
622700  107331 -122.083690  37.222570
622701  107331 -122.083024  37.222701
622702  107331 -122.082830  37.222740
622703  107331 -122.082280  37.222930
622704  107331 -122.081810  37.223070
622705  107331 -122.081550  37.223160
622706  107331 -122.081320  37.223190
622707  107331 -122.080580  37.223370
622708  107331 -122.080546  37.223370
622709  107331 -122.080380  37.223370
622710  107331 -122.079690  37.223330
622711  107332 -121.782390  37.058742
622712  107332 -121.782110  37.058480
622713  107332 -121.782010  37.058360
622714  107332 -121.781940  37.058200
622715  107332 -121.781880  37.058030
622716  107332 -121.781770  37.057760
622717  107332 -121.781660  37.057530
622718  107332 -121.781630  37.057140
622719  107332 -121.781618  37.057109
622720  107332 -121.781593  37.057042

[622721 rows x 3 columns]

In [9]:
# Check results on node Dataframe
print(node_df)

          id         lon        lat
0          0 -121.606408  37.191532
1          1 -121.601716  37.194956
2          2 -121.694674  37.234624
3          3 -121.694660  37.234351
4          4 -121.714070  37.207947
5          5 -121.713821  37.207574
6          6 -121.671492  37.171718
7          7 -121.669070  37.169351
8          8 -121.224514  37.078571
9          9 -121.229192  37.081465
10        10 -121.287002  37.090978
11        11 -121.289273  37.081942
12        12 -121.288139  37.093572
13        13 -121.225910  37.064720
14        14 -121.220900  37.065970
15        15 -121.213620  37.065230
16        16 -121.213180  37.065190
17        17 -121.233379  37.040413
18        18 -121.234821  37.037263
19        19 -121.643220  37.166830
20        20 -121.642530  37.166650
21        21 -121.673299  37.173286
22        22 -121.671692  37.171891
23        23 -121.321697  37.033036
24        24 -121.311920  37.035880
25        25 -121.282233  37.047108
26        26 -121.282233  37.046991
27        27 -121.376057  37.131779
28        28 -121.375166  37.130722
29        29 -121.253322  37.052664
...      ...         ...        ...
74334  74334 -122.147510  37.380430
74335  74335 -122.151450  37.386260
74336  74336 -121.878440  37.378061
74337  74337 -121.877914  37.372730
74338  74338 -121.878780  37.373612
74339  74339 -121.901464  37.214377
74340  74340 -121.902277  37.221472
74341  74341 -121.900364  37.221392
74342  74342 -121.903477  37.217194
74343  74343 -121.864378  37.382541
74344  74344 -121.859710  37.380235
74345  74345 -121.861297  37.381713
74346  74346 -121.865439  37.379482
74347  74347 -121.864353  37.380663
74348  74348 -121.986532  37.232463
74349  74349 -121.793132  37.387129
74350  74350 -121.797775  37.386774
74351  74351 -121.919985  37.349552
74352  74352 -121.916835  37.451391
74353  74353 -121.861289  37.288084
74354  74354 -121.799338  37.243324
74355  74355 -121.945836  37.319154
74356  74356 -121.996805  37.364790
74357  74357 -121.996356  37.365080
74358  74358 -121.948733  37.276733
74359  74359 -121.937130  37.227370
74360  74360 -121.847377  37.097236
74361  74361 -122.054966  37.211616
74362  74362 -122.121503  37.258170
74363  74363 -122.150539  37.275883

[74364 rows x 3 columns]

In [10]:
# Check results on edge DataFrame
print(edge_df)

            id    src    dst  mtfcc
0            1      0      1      2
1            1      1      0      2
2            2      2      3      2
3            2      3      2      2
4            3      4      5      5
5            3      5      4      5
6            7      6      7      0
7            7      7      6      0
8           10      8      9      2
9           10      9      8      2
10          11     10     11      2
11          11     11     10      2
12          12     12     10      2
13          12     10     12      2
14          17     13     14      1
15          17     14     13      1
16          18     15     16      2
17          18     16     15      2
18          19     17     18      2
19          19     18     17      2
20          20     19     20      2
21          20     20     19      2
22          22     21     22      0
23          22     22     21      0
24          23     23     24      1
25          23     24     23      1
26          26     25     26      8
27          26     26     25      8
28          27     27     28      2
29          27     28     27      2
...        ...    ...    ...    ...
188228  107293  72130    579      2
188229  107293    579  72130      2
188230  107294    579  20465      2
188231  107294  20465    579      2
188232  107298  64716  58288      2
188233  107298  58288  64716      2
188234  107305  74361  20472      2
188235  107305  20472  74361      2
188236  107306  72576  74362      4
188237  107306  74362  72576      4
188238  107307  74362  68997      2
188239  107307  68997  74362      2
188240  107318  65196  48798      2
188241  107318  48798  65196      2
188242  107319  69128  48787      3
188243  107319  48787  69128      3
188244  107324  72212  36968      2
188245  107324  36968  72212      2
188246  107327  64344  74363      2
188247  107327  74363  64344      2
188248  107328  68992  57901      2
188249  107328  57901  68992      2
188250  107329  64351  72576      4
188251  107329  72576  64351      4
188252  107330  57900  36536      2
188253  107330  36536  57900      2
188254  107331  36545  48795      2
188255  107331  48795  36545      2
188256  107332  36541  37197      3
188257  107332  37197  36541      3

[188258 rows x 4 columns]

In [11]:
# Define chunk size and parameters
threads_per_block = 128
trunk_size = 10240
data_length = vector_df['id'].count()

In [12]:
# Haversine function for lengths
@cuda.jit(device=True)
def haversine_distance(lon_1, lat_1, lon_2, lat_2):
    lon_1 = lon_1 * math.pi / 180.0 
    lon_2 = lon_2 * math.pi / 180.0 
    lat_1 = lat_1 * math.pi / 180.0 
    lat_2 = lat_2 * math.pi / 180.0
    d_lon = lon_2 - lon_1 
    d_lat = lat_2 - lat_1 
    a = math.sin(d_lat/2)**2 + math.cos(lat_1) * math.cos(lat_2) * math.sin(d_lon/2)**2
    return 2 * math.asin(math.sqrt(a)) * 6371000.0

In [13]:
# Window function to calculate distance between adjacent points in feet
def adjacent_distance(id, lon, lat, dist):
    for i in range(cuda.threadIdx.x, id.size, cuda.blockDim.x):
        # If the first point of vector return zero length
        if i == 0:
            dist[i] = 0.0
        # Or if the vector changes (1st point of new vector)
        elif id[i] != id[i-1]:
            dist[i] = 0.0
        else:
            dist[i] = haversine_distance(lon[i],lat[i],lon[i-1],lat[i-1]) * 3.280839895013123

In [14]:
%%time
# Apply the window function
vector_df = vector_df.apply_chunks(adjacent_distance,
                     incols=['id','lon','lat'],
                     outcols=dict(dist=np.float64),
                     kwargs=dict(),
                     chunks=list(range(0, data_length,
                                       trunk_size))+ [data_length],
                     tpb=threads_per_block)

CPU times: user 449 ms, sys: 205 µs, total: 449 ms
Wall time: 448 ms

In [15]:
# Check the result
print(vector_df)

            id         lon        lat        dist
0            1 -121.606408  37.191532    0.000000
1            1 -121.606128  37.191692  100.142736
2            1 -121.605951  37.191783   61.221564
3            1 -121.605861  37.191814   28.495687
4            1 -121.605767  37.191832   28.096035
5            1 -121.605660  37.191836   31.130101
6            1 -121.605483  37.191840   51.459671
7            1 -121.605306  37.191857   51.811487
8            1 -121.605152  37.191881   45.603188
9            1 -121.604765  37.191944  114.792486
10           1 -121.604598  37.191971   49.522203
11           1 -121.604463  37.191984   39.518651
12           1 -121.604327  37.191989   39.565725
13           1 -121.604044  37.191988   82.244885
14           1 -121.603922  37.192002   35.821016
15           1 -121.603800  37.192030   36.897160
16           1 -121.603692  37.192068   34.311603
17           1 -121.603595  37.192113   32.621450
18           1 -121.603513  37.192156   28.530124
19           1 -121.603336  37.192229   57.923840
20           1 -121.603154  37.192282   56.315040
21           1 -121.603047  37.192309   32.618451
22           1 -121.602962  37.192346   28.149517
23           1 -121.602882  37.192397   29.777223
24           1 -121.602820  37.192454   27.514606
25           1 -121.602768  37.192523   29.359882
26           1 -121.602701  37.192645   48.579924
27           1 -121.602680  37.192709   24.132442
28           1 -121.602654  37.192803   35.114961
29           1 -121.602604  37.193019   80.128069
...        ...         ...        ...         ...
622691  107331 -122.086702  37.222764   11.253793
622692  107331 -122.086498  37.222731   60.471791
622693  107331 -122.085860  37.222630  188.964163
622694  107331 -122.084888  37.222527  284.852641
622695  107331 -122.084350  37.222470  157.665020
622696  107331 -122.084253  37.222485   28.704708
622697  107331 -122.084040  37.222520   63.179679
622698  107331 -122.083964  37.222530   22.377190
622699  107331 -122.083868  37.222545   28.419570
622700  107331 -122.083690  37.222570   52.506697
622701  107331 -122.083024  37.222701  199.286192
622702  107331 -122.082830  37.222740   58.124595
622703  107331 -122.082280  37.222930  174.160550
622704  107331 -122.081810  37.223070  145.773066
622705  107331 -122.081550  37.223160   82.356606
622706  107331 -122.081320  37.223190   67.704291
622707  107331 -122.080580  37.223370  224.772005
622708  107331 -122.080546  37.223370    9.876806
622709  107331 -122.080380  37.223370   48.222051
622710  107331 -122.079690  37.223330  200.971587
622711  107332 -121.782390  37.058742    0.000000
622712  107332 -121.782110  37.058480  125.620594
622713  107332 -121.782010  37.058360   52.574040
622714  107332 -121.781940  37.058200   61.825289
622715  107332 -121.781880  37.058030   64.431175
622716  107332 -121.781770  37.057760  103.574606
622717  107332 -121.781660  37.057530   89.810572
622718  107332 -121.781630  37.057140  142.544798
622719  107332 -121.781618  37.057109   11.836517
622720  107332 -121.781593  37.057042   25.503094

[622721 rows x 4 columns]

In [16]:
%%time
# Group by and sum the distances for each edge
distance_df = vector_df[['id','dist']].groupby(['id']).sum()
distance_df['id'] = distance_df.index

CPU times: user 90.4 ms, sys: 3.63 ms, total: 94 ms
Wall time: 92.8 ms

In [17]:
%%time
# Merge the distances into the edge DataFrame to produce graph
edge_df = edge_df.merge(distance_df,on=['id'], how='left').sort_values('id')

CPU times: user 18.9 ms, sys: 15.7 ms, total: 34.6 ms
Wall time: 33.2 ms

In [18]:
# Check Result
print(edge_df)

            id    src    dst  mtfcc         dist
52512        1      0      1      2  2129.795165
52513        1      1      0      2  2129.795165
52514        2      2      3      2    99.701199
52515        2      3      2      2    99.701199
52516        3      4      5      5   414.540894
52517        3      5      4      5   414.540894
52518        7      6      7      0  1114.588020
52519        7      7      6      0  1114.588020
52520       10      8      9      2  1801.042657
52521       10      9      8      2  1801.042657
52522       11     10     11      2  3362.048365
52523       11     11     10      2  3362.048365
52524       12     12     10      2  1170.219255
52525       12     10     12      2  1170.219255
52526       17     13     14      1  1529.094091
52527       17     14     13      1  1529.094091
52528       18     15     16      2   128.913876
52529       18     16     15      2   128.913876
52530       19     17     18      2  1284.591833
52531       19     18     17      2  1284.591833
52532       20     19     20      2   211.389270
52533       20     20     19      2   211.389270
52534       22     21     22      0   690.805017
52535       22     22     21      0   690.805017
52536       23     23     24      1  3034.411754
52537       23     24     23      1  3034.411754
52538       26     25     26      8    42.683092
52539       26     26     25      8    42.683092
52540       27     27     28      2   465.132654
52541       27     28     27      2   465.132654
...        ...    ...    ...    ...          ...
170758  107293  72130    579      2    71.177170
170759  107293    579  72130      2    71.177170
170760  107294    579  20465      2   277.797675
170761  107294  20465    579      2   277.797675
170762  107298  64716  58288      2    28.325635
170763  107298  58288  64716      2    28.325635
170764  107305  74361  20472      2   829.992359
170765  107305  20472  74361      2   829.992359
170766  107306  72576  74362      4   147.579757
170767  107306  74362  72576      4   147.579757
170768  107307  74362  68997      2   250.058826
170769  107307  68997  74362      2   250.058826
170770  107318  65196  48798      2  1781.815541
170771  107318  48798  65196      2  1781.815541
170772  107319  69128  48787      3  2496.409858
170773  107319  48787  69128      3  2496.409858
170774  107324  72212  36968      2   361.714658
170775  107324  36968  72212      2   361.714658
170776  107327  64344  74363      2  2262.299080
170777  107327  74363  64344      2  2262.299080
170778  107328  68992  57901      2   970.808958
170779  107328  57901  68992      2   970.808958
170780  107329  64351  72576      4   171.539570
170781  107329  72576  64351      4   171.539570
170782  107330  57900  36536      2  3287.348879
170783  107330  36536  57900      2  3287.348879
170784  107331  36545  48795      2  2891.109397
170785  107331  48795  36545      2  2891.109397
167616  107332  36541  37197      3   677.720685
167617  107332  37197  36541      3   677.720685

[188258 rows x 5 columns]

In [19]:
# Save road graph to csv
graph_file = shp_name[:-4] + "_graph.csv"
edge_df.to_pandas().to_csv(graph_file, index=False)

In [20]:
# Save road modes to csv
node_file = shp_name[:-4] + "_nodes.csv"
node_df.to_pandas().to_csv(node_file, index=False)

In [21]:
# print mtfcc table (used to filter on road type)
print([(i,m) for i,m in enumerate(mtfcc)])

[(0, 'S1100'), (1, 'S1200'), (2, 'S1400'), (3, 'S1500'), (4, 'S1630'), (5, 'S1640'), (6, 'S1710'), (7, 'S1730'), (8, 'S1740'), (9, 'S1750'), (10, 'S1780'), (11, 'S1820')]