In [22]:
# Import libraries
import cudf
import pandas as pd
from numba import cuda
import shapefile as sh
import numpy as np
import math

In [23]:
# Read in US Tiger Line Edge shapefile (Example here is King County)
shp_name = "/data/us_tiger/king_county/tl_2018_53033_edges.shp"
sf = sh.Reader(shp_name)

In [24]:
# Get field positions for road type and nodes
fields = list(zip(*sf.fields))
mtfcc_pos = fields[0].index('MTFCC') - 1
roadflg_pos = fields[0].index('ROADFLG') - 1
nodef_pos = fields[0].index('TNIDF') - 1
nodet_pos = fields[0].index('TNIDT') - 1

In [25]:
# Parse shape file into list of edges and their constituent vectors
vectors = []
edges = []
# Read nodes into a dictionary to de-duplicate
nodes = {}
node_num = 0
mtfcc = []
# Iterate through shapefile shape objects
for i,geo in enumerate(sf.shapes()):
    # Get the shape attributes
    attr = sf.record(i)
    # Check that the edge is a road
    if attr[roadflg_pos] == 'Y':
        # Test if mtfcc (edge classification) is in list, if not add it
        if attr[mtfcc_pos] not in mtfcc:
            mtfcc += [attr[mtfcc_pos]]
        # Test if from node exists
        if attr[nodef_pos] not in nodes:
            # If not, add it to the dictionary with coordinates of first point of vector
            nodes[attr[nodef_pos]] = [node_num,geo.points[0][0],geo.points[0][1]]
            node_num += 1
        # Test if to node exists
        if attr[nodet_pos] not in nodes:
            # If not, add it to the dictionary with coordinates of last point of vector
            nodes[attr[nodet_pos]] = [node_num,geo.points[-1][0],geo.points[-1][1]]
            node_num += 1
        # Add edge to table 
        edges += [[i,nodes[attr[nodef_pos]][0],nodes[attr[nodet_pos]][0],attr[mtfcc_pos]]]
        # Add edge to table with from and too nodes reversed
        edges += [[i,nodes[attr[nodet_pos]][0],nodes[attr[nodef_pos]][0],attr[mtfcc_pos]]]
        # Unravel and serialise the vector points into a list
        for p in geo.points:
            vectors += [[i,p[0],p[1]]]
# Sort mtfcc
mtfcc.sort()

In [26]:
# Zip the vector points and copy to cudf DataFrame
vz = list(zip(*vectors))
vector_df = cudf.DataFrame()
vector_df['id'] = vz[0]
vector_df['lon'] = vz[1]
vector_df['lat'] = vz[2]

In [27]:
# Zip the node points and copy to cudf DataFrame
nz = list(zip(*sorted(nodes.values())))
node_df = cudf.DataFrame()
node_df['id'] = nz[0]
node_df['lon'] = nz[1]
node_df['lat'] = nz[2]

In [28]:
# Zip the edges and copy to cudf DataFrame
ez = list(zip(*edges))
edge_df = cudf.DataFrame()
edge_df['id'] = ez[0]
edge_df['src'] = ez[1]
edge_df['dst'] = ez[2]
edge_df['mtfcc'] = [mtfcc.index(m) for m in ez[3]]

In [29]:
# Check results on vector Dataframe
print(vector_df)

            id         lon        lat
0            1 -121.781978  47.408331
1            1 -121.781920  47.408344
2            2 -121.781920  47.408344
3            2 -121.780622  47.408632
4            3 -122.188432  47.318418
5            3 -122.188419  47.318221
6            3 -122.188425  47.318168
7            3 -122.188512  47.318034
8            4 -122.038309  47.244633
9            4 -122.038323  47.244663
10           4 -122.038358  47.244685
11           4 -122.038403  47.244691
12           4 -122.038447  47.244681
13           4 -122.038473  47.244665
14           4 -122.038488  47.244638
15           4 -122.038486  47.244604
16           4 -122.038468  47.244582
17           4 -122.038427  47.244564
18           4 -122.038389  47.244561
19           4 -122.038351  47.244570
20           4 -122.038319  47.244593
21           4 -122.038308  47.244618
22           4 -122.038309  47.244633
23           5 -121.635090  47.233126
24           5 -121.635018  47.233141
25           5 -121.634802  47.233165
26           5 -121.634674  47.233178
27           5 -121.634389  47.233170
28           5 -121.634087  47.233123
29           5 -121.630742  47.232446
...        ...         ...        ...
923981  206861 -122.250514  47.257408
923982  206861 -122.250638  47.257407
923983  206861 -122.251164  47.257404
923984  206861 -122.251398  47.257403
923985  206865 -122.314859  47.257295
923986  206865 -122.314916  47.257296
923987  206865 -122.315296  47.257305
923988  206865 -122.315572  47.257312
923989  206865 -122.315640  47.257314
923990  206868 -122.366914  47.777750
923991  206868 -122.366685  47.777743
923992  206871 -122.301763  47.777461
923993  206871 -122.301552  47.777459
923994  206871 -122.301482  47.777458
923995  206871 -122.301363  47.777456
923996  206871 -122.301301  47.777456
923997  206872 -122.313422  47.777570
923998  206872 -122.313328  47.777569
923999  206872 -122.313144  47.777567
924000  206873 -122.352352  47.777778
924001  206873 -122.351807  47.777780
924002  206873 -122.351490  47.777781
924003  206877 -122.176555  47.776323
924004  206877 -122.175689  47.776319
924005  206882 -122.074677  47.775978
924006  206882 -122.074647  47.775976
924007  206884 -122.095324  47.775964
924008  206884 -122.095047  47.775970
924009  206884 -122.093493  47.776005
924010  206884 -122.092867  47.776018

[924011 rows x 3 columns]

In [30]:
# Check results on node Dataframe
print(node_df)

            id         lon        lat
0            0 -121.781978  47.408331
1            1 -121.781920  47.408344
2            2 -121.780622  47.408632
3            3 -122.188432  47.318418
4            4 -122.188512  47.318034
5            5 -122.038309  47.244633
6            6 -121.635090  47.233126
7            7 -121.630742  47.232446
8            8 -121.354531  47.274795
9            9 -121.356002  47.276650
10          10 -121.837180  47.185363
11          11 -121.836133  47.184873
12          12 -122.121523  47.250319
13          13 -122.120557  47.250328
14          14 -122.020366  47.177900
15          15 -122.021445  47.178649
16          16 -122.019788  47.176851
17          17 -122.020842  47.177496
18          18 -122.199217  47.313017
19          19 -122.199808  47.313996
20          20 -121.758851  47.223611
21          21 -121.758743  47.223744
22          22 -122.103135  47.224471
23          23 -122.102282  47.224134
24          24 -122.006546  47.319999
25          25 -122.007636  47.320066
26          26 -121.558019  47.135325
27          27 -121.566896  47.138727
28          28 -121.548310  47.140810
29          29 -121.554685  47.130913
...        ...         ...        ...
127350  127350 -122.161455  47.352286
127351  127351 -122.153781  47.352945
127352  127352 -122.110428  47.372188
127353  127353 -122.107743  47.368515
127354  127354 -122.014681  47.381131
127355  127355 -122.033714  47.366199
127356  127356 -121.904426  47.465246
127357  127357 -122.007447  47.385721
127358  127358 -122.119794  47.366434
127359  127359 -121.840250  47.428504
127360  127360 -122.149309  47.401158
127361  127361 -122.157791  47.396630
127362  127362 -122.089059  47.386451
127363  127363 -122.105697  47.361347
127364  127364 -122.156647  47.375944
127365  127365 -122.047956  47.392655
127366  127366 -122.143527  47.362062
127367  127367 -122.023706  47.459296
127368  127368 -122.021320  47.459094
127369  127369 -122.015477  47.447651
127370  127370 -122.136954  47.353085
127371  127371 -122.162949  47.369379
127372  127372 -122.095577  47.363333
127373  127373 -122.095864  47.364769
127374  127374 -122.065614  47.381511
127375  127375 -121.360285  47.290450
127376  127376 -121.431505  47.331052
127377  127377 -121.298136  47.148333
127378  127378 -122.074677  47.775978
127379  127379 -122.095324  47.775964

[127380 rows x 3 columns]

In [31]:
# Check results on edge DataFrame
print(edge_df)

            id     src     dst  mtfcc
0            1       0       1      2
1            1       1       0      2
2            2       1       2      2
3            2       2       1      2
4            3       3       4      2
5            3       4       3      2
6            4       5       5      2
7            4       5       5      2
8            5       6       7      2
9            5       7       6      2
10           6       8       9      2
11           6       9       8      2
12           7      10      11      2
13           7      11      10      2
14           8      12      13      2
15           8      13      12      2
16           9      14      15      2
17           9      15      14      2
18          10      16      17      2
19          10      17      16      2
20          11      18      19      2
21          11      19      18      2
22          12      20      21      2
23          12      21      20      2
24          13      22      23      2
25          13      23      22      2
26          15      24      25      2
27          15      25      24      2
28          16      26      27      2
29          16      27      26      2
...        ...     ...     ...    ...
315082  206844  109265   36908      2
315083  206844   36908  109265      2
315084  206845   36908   61634      2
315085  206845   61634   36908      2
315086  206848   82346  127377      2
315087  206848  127377   82346      2
315088  206849  127377   34997      2
315089  206849   34997  127377      2
315090  206851   61638   36941      2
315091  206851   36941   61638      2
315092  206860    4314   99636      2
315093  206860   99636    4314      2
315094  206861   99636   97991      2
315095  206861   97991   99636      2
315096  206865  117435   61643      2
315097  206865   61643  117435      2
315098  206868   82351   45246      2
315099  206868   45246   82351      2
315100  206871  123287   97996      2
315101  206871   97996  123287      2
315102  206872  108349   35010      2
315103  206872   35010  108349      2
315104  206873   82357   27289      2
315105  206873   27289   82357      2
315106  206877   66168   61654      2
315107  206877   61654   66168      2
315108  206882  127378   69943      2
315109  206882   69943  127378      2
315110  206884  127379  104619      2
315111  206884  104619  127379      2

[315112 rows x 4 columns]

In [32]:
# Define chunk size and parameters
threads_per_block = 128
trunk_size = 10240
data_length = vector_df['id'].count()

In [33]:
# Haversine function for lengths
@cuda.jit(device=True)
def haversine_distance(lon_1, lat_1, lon_2, lat_2):
    lon_1 = lon_1 * math.pi / 180.0 
    lon_2 = lon_2 * math.pi / 180.0 
    lat_1 = lat_1 * math.pi / 180.0 
    lat_2 = lat_2 * math.pi / 180.0
    d_lon = lon_2 - lon_1 
    d_lat = lat_2 - lat_1 
    a = math.sin(d_lat/2)**2 + math.cos(lat_1) * math.cos(lat_2) * math.sin(d_lon/2)**2
    return 2 * math.asin(math.sqrt(a)) * 6371000.0

In [34]:
# Window function to calculate distance between adjacent points in feet
def adjacent_distance(id, lon, lat, dist):
    for i in range(cuda.threadIdx.x, id.size, cuda.blockDim.x):
        # If the first point of vector return zero length
        if i == 0:
            dist[i] = 0.0
        # Or if the vector changes (1st point of new vector)
        elif id[i] != id[i-1]:
            dist[i] = 0.0
        else:
            dist[i] = haversine_distance(lon[i],lat[i],lon[i-1],lat[i-1]) * 3.280839895013123

In [35]:
%%time
# Apply the window function
vector_df = vector_df.apply_chunks(adjacent_distance,
                     incols=['id','lon','lat'],
                     outcols=dict(dist=np.float64),
                     kwargs=dict(),
                     chunks=list(range(0, data_length,
                                       trunk_size))+ [data_length],
                     tpb=threads_per_block)

CPU times: user 453 ms, sys: 4.15 ms, total: 458 ms
Wall time: 457 ms

In [36]:
# Check the result
print(vector_df)

            id         lon        lat        dist
0            1 -121.781978  47.408331    0.000000
1            1 -121.781920  47.408344   15.084758
2            2 -121.781920  47.408344    0.000000
3            2 -121.780622  47.408632  337.250971
4            3 -122.188432  47.318418    0.000000
5            3 -122.188419  47.318221   71.939992
6            3 -122.188425  47.318168   19.391934
7            3 -122.188512  47.318034   53.410635
8            4 -122.038309  47.244633    0.000000
9            4 -122.038323  47.244663   11.480474
10           4 -122.038358  47.244685   11.813160
11           4 -122.038403  47.244691   11.357620
12           4 -122.038447  47.244681   11.491489
13           4 -122.038473  47.244665    8.690997
14           4 -122.038488  47.244638   10.527198
15           4 -122.038486  47.244604   12.413520
16           4 -122.038468  47.244582    9.180824
17           4 -122.038427  47.244564   12.092395
18           4 -122.038389  47.244561    9.474526
19           4 -122.038351  47.244570    9.967397
20           4 -122.038319  47.244593   11.541729
21           4 -122.038308  47.244618    9.518499
22           4 -122.038309  47.244633    5.477793
23           5 -121.635090  47.233126    0.000000
24           5 -121.635018  47.233141   18.656010
25           5 -121.634802  47.233165   54.217831
26           5 -121.634674  47.233178   32.060089
27           5 -121.634389  47.233170   70.658740
28           5 -121.634087  47.233123   76.749402
29           5 -121.630742  47.232446  864.633370
...        ...         ...        ...         ...
923981  206861 -122.250514  47.257408   29.466721
923982  206861 -122.250638  47.257407   30.704633
923983  206861 -122.251164  47.257404  130.242483
923984  206861 -122.251398  47.257403   57.939677
923985  206865 -122.314859  47.257295    0.000000
923986  206865 -122.314916  47.257296   14.117974
923987  206865 -122.315296  47.257305   94.145662
923988  206865 -122.315572  47.257312   68.385572
923989  206865 -122.315640  47.257314   16.852668
923990  206868 -122.366914  47.777750    0.000000
923991  206868 -122.366685  47.777743   56.199045
923992  206871 -122.301763  47.777461    0.000000
923993  206871 -122.301552  47.777459   51.733596
923994  206871 -122.301482  47.777458   17.164975
923995  206871 -122.301363  47.777456   29.182990
923996  206871 -122.301301  47.777456   15.199830
923997  206872 -122.313422  47.777570    0.000000
923998  206872 -122.313328  47.777569   23.047741
923999  206872 -122.313144  47.777567   45.114977
924000  206873 -122.352352  47.777778    0.000000
924001  206873 -122.351807  47.777780  133.612574
924002  206873 -122.351490  47.777781   77.715633
924003  206877 -122.176555  47.776323    0.000000
924004  206877 -122.175689  47.776319  212.316957
924005  206882 -122.074677  47.775978    0.000000
924006  206882 -122.074647  47.775976    7.391067
924007  206884 -122.095324  47.775964    0.000000
924008  206884 -122.095047  47.775970   67.946131
924009  206884 -122.093493  47.776005  381.201054
924010  206884 -122.092867  47.776018  153.546777

[924011 rows x 4 columns]

In [37]:
%%time
# Group by and sum the distances for each edge
distance_df = vector_df[['id','dist']].groupby(['id']).sum()
distance_df['id'] = distance_df.index

CPU times: user 21.4 ms, sys: 4.21 ms, total: 25.7 ms
Wall time: 24.1 ms

In [38]:
%%time
# Merge the distances into the edge DataFrame to produce graph
edge_df = edge_df.merge(distance_df,on=['id'], how='left').sort_values('id')

CPU times: user 31.6 ms, sys: 4.28 ms, total: 35.9 ms
Wall time: 34.3 ms

In [39]:
# Check Result
print(edge_df)

            id     src     dst  mtfcc         dist
18464        1       0       1      2    15.084758
18465        1       1       0      2    15.084758
18466        2       1       2      2   337.250971
18467        2       2       1      2   337.250971
18468        3       3       4      2   144.742561
18469        3       4       3      2   144.742561
18470        4       5       5      2   145.027620
18471        4       5       5      2   145.027620
18472        5       6       7      2  1116.975442
18473        5       7       6      2  1116.975442
18474        6       8       9      2   937.954515
18475        6       9       8      2   937.954515
18476        7      10      11      2   315.341735
18477        7      11      10      2   315.341735
18478        8      12      13      2   239.236642
18479        8      13      12      2   239.236642
18480        9      14      15      2   382.502849
18481        9      15      14      2   382.502849
18482       10      16      17      2   374.020454
18483       10      17      16      2   374.020454
18484       11      18      19      2   386.325038
18485       11      19      18      2   386.325038
18486       12      20      21      2    56.625633
18487       12      21      20      2    56.625633
18488       13      22      23      2   273.843146
18489       13      23      22      2   273.843146
18490       15      24      25      2   271.596036
18491       15      25      24      2   271.596036
18492       16      26      27      2  2657.198384
18493       16      27      26      2  2657.198384
...        ...     ...     ...    ...          ...
300338  206844  109265   36908      2   656.179664
300339  206844   36908  109265      2   656.179664
300340  206845   36908   61634      2   381.202622
300341  206845   61634   36908      2   381.202622
300342  206848   82346  127377      2   678.463336
300343  206848  127377   82346      2   678.463336
300344  206849  127377   34997      2   888.205608
300345  206849   34997  127377      2   888.205608
300346  206851   61638   36941      2   252.924586
300347  206851   36941   61638      2   252.924586
300348  206860    4314   99636      2   262.710865
300349  206860   99636    4314      2   262.710865
300350  206861   99636   97991      2   248.353514
300351  206861   97991   99636      2   248.353514
300352  206865  117435   61643      2   193.501876
300353  206865   61643  117435      2   193.501876
300354  206868   82351   45246      2    56.199045
300355  206868   45246   82351      2    56.199045
300356  206871  123287   97996      2   113.281391
300357  206871   97996  123287      2   113.281391
300358  206872  108349   35010      2    68.162718
300359  206872   35010  108349      2    68.162718
294432  206873   82357   27289      2   211.328207
294433  206873   27289   82357      2   211.328207
294434  206877   66168   61654      2   212.316957
294435  206877   61654   66168      2   212.316957
294436  206882  127378   69943      2     7.391067
294437  206882   69943  127378      2     7.391067
294438  206884  127379  104619      2   602.693962
294439  206884  104619  127379      2   602.693962

[315112 rows x 5 columns]

In [40]:
# Save road graph to csv
graph_file = shp_name[:-4] + "_graph.csv"
edge_df.to_pandas().to_csv(graph_file, index=False)

In [41]:
# Save road modes to csv
node_file = shp_name[:-4] + "_nodes.csv"
node_df.to_pandas().to_csv(node_file, index=False)

In [42]:
# print mtfcc table (used to filter on road type)
print([(i,m) for i,m in enumerate(mtfcc)])

[(0, 'S1100'), (1, 'S1200'), (2, 'S1400'), (3, 'S1500'), (4, 'S1630'), (5, 'S1640'), (6, 'S1710'), (7, 'S1720'), (8, 'S1730'), (9, 'S1740'), (10, 'S1750'), (11, 'S1780'), (12, 'S1820')]